<form class="ui middle aligned center aligned grid" method="post" action="/login/">

  <div class="column">
    <h2 class="ui header">
      <div class="ui orange  header">
        Welcome
      </div>
    </h2>
      <div class="ui stacked piled  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="username">
          </div>
       </div>
        <div>
            <h1>   </h1>
          </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">

          </div>
          <div>
            <h1>   </h1>
          </div>
        </div>
            <button class="ui orange submit button">Login</button>
      </div>
    <div class="ui message">
     Don't you have an account yet? <a href="/signUp">Sign Up</a>
    </div>
     <div>
         <input type="hidden" name="_csrf" value="{{csrfToken}}">

  </div>
  </div>
 

</form> 
